/* less define */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
/* overall */
.clearfix,
header,
.container,
.container article,
.container article .info,
.container.list article .content,
.container.list article .content ul li {
  zoom: 1;
}
.clearfix:after,
header:after,
.container:after,
.container article:after,
.container article .info:after,
.container.list article .content:after,
.container.list article .content ul li:after {
  content: ".";
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  display: block;
}
.row {
  min-width: 270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 540px) {
  .row {
    max-width: 680px;
  }
}
@media screen and (min-width: 800px) {
  .row {
    max-width: 1200px;
  }
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
a {
  text-decoration: none;
  color: #8e8e8e;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #4ab3a5;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
/* header */
header {
  border-bottom: 1px solid #ebebeb;
}
header .row {
  padding: 0;
}
@media screen and (min-width: 800px) {
  header .row {
    max-width: 700px;
  }
}
@media screen and (min-width: 540px) {
  header {
    border-bottom-color: #b7b7b7;
  }
  header .image {
    height: 200px;
    background: url("../images/header-img.jpg") no-repeat transparent;
    background-size: 100% auto;
    background-position: 0 100%;
    position: relative;
  }
  header .image .overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}
@media screen and (min-width: 800px) {
  header .image {
    height: 300px;
  }
}
@media screen and (min-width: 540px) {
  header .mini-nav {
    display: none;
  }
}
header .mini-nav li {
  float: right;
  border-left: 1px solid #ebebeb;
}
header .mini-nav li:first-child {
  float: left;
  border-left: none;
  border-right: 1px solid #ebebeb;
}
header .mini-nav li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../images/mini-icons.png") no-repeat transparent;
  text-indent: -9999px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
  header .mini-nav li a {
    background-image: url("../images/mini-icons@2x.png");
    background-size: 250px 50px;
  }
}
header .mini-nav .tag a {
  background-position: -50px 0;
}
header .mini-nav .category a {
  background-position: -100px 0;
}
header .mini-nav .about a {
  background-position: -150px 0;
}
header .mini-nav .search a {
  background-position: -200px 0;
}
header .main-nav {
  width: 100%;
  float: left;
}
@media screen and (min-width: 540px) {
  header .main-nav {
    float: none;
    height: 60px;
  }
  header .main-nav .category .drop-menu {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -50px;
  }
  header .main-nav .category .drop-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-size: 2rem;
  }
  header .main-nav .category .drop-menu li:first-child {
    padding-top: 0;
  }
  header .main-nav .tag .drop-menu {
    width: 200px;
    margin-left: -105px;
    text-align: center;
    padding: 10px 5px;
  }
  header .main-nav .tag .drop-menu li {
    font-size: 16px;
    font-size: 1.6rem;
    float: none;
    width: auto;
    display: inline-block;
    padding: 0.2em 0.2em;
  }
}
@media screen and (min-width: 800px) {
  header .main-nav .right {
    float: right;
    padding-left: 100px;
  }
  header .main-nav .right li {
    width: 30%;
    padding: 0;
  }
  header .main-nav .right li.search {
    width: 60%;
  }
  header .main-nav .right li.search input {
    float: right;
  }
  header .main-nav .left {
    float: left;
    padding-right: 100px;
  }
  header .main-nav .left li,
  header .main-nav .left li.drop {
    width: 30%;
    padding: 0;
  }
  header .main-nav .left li a:after,
  header .main-nav .left li.drop a:after {
    right: 0;
    margin-right: 5px;
  }
  header .main-nav .left,
  header .main-nav .right {
    width: 50%;
    box-sizing: border-box;
  }
  header .main-nav .left li,
  header .main-nav .right li {
    text-align: center;
  }
}
@media screen and (min-width: 540px) {
  header .main-nav li {
    float: left;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
  }
  header .main-nav li.drop {
    padding-right: 30px;
  }
  header .main-nav li.drop > a:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #8e8e8e transparent transparent transparent;
    border-width: 6px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
  }
}
header .main-nav > ul > li > a {
  display: none;
}
@media screen and (min-width: 540px) {
  header .main-nav > ul > li > a {
    display: inline;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 60px;
    padding-bottom: 5px;
  }
  header .main-nav > ul > li > a:hover {
    border-bottom: 4px solid #8e8e8e;
  }
}
header .main-nav .drop-menu {
  border-top: 1px solid #ebebeb;
  padding: 10px 5px;
  text-align: center;
  display: none;
}
header .main-nav .drop-menu.active {
  display: block;
}
header .main-nav .drop-menu li {
  display: inline-block;
  padding: 5px;
}
@media screen and (min-width: 540px) {
  header .main-nav .drop-menu li {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
  }
}
header .main-nav .drop-menu li a {
  font-size: 14px;
  font-size: 1.4rem;
}
@media screen and (min-width: 540px) {
  header .main-nav .drop-menu {
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -75px;
    top: 45px;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s cubic-bezier(0.35, 1.2, 0.4, 1);
    transition: 0.5s cubic-bezier(0.35, 1.2, 0.4, 1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  header .main-nav .drop-menu.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
header .main-nav .search {
  border-top: 1px solid #ebebeb;
  height: 35px;
  display: none;
}
header .main-nav .search.active {
  display: block;
}
@media screen and (min-width: 540px) {
  header .main-nav .search {
    display: block;
    float: right;
    border: none;
    margin-top: 14px;
    padding: 0;
    padding-right: 8px;
  }
}
header .main-nav .search input {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  color: #8e8e8e;
}
header .main-nav .search input::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
}
header .main-nav .search input:focus {
  border: none;
  outline: none;
}
header .main-nav .search input:focus::-webkit-input-placeholder {
  color: transparent;
}
@media screen and (min-width: 540px) {
  header .main-nav .search input {
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    height: 30px;
    line-height: 100%;
    width: 130px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .main-nav .search input::-webkit-input-placeholder {
    font-size: 16px;
    font-size: 1.6rem;
  }
  header .main-nav .search input:focus {
    border: 1px solid #8e8e8e;
    width: 150px;
  }
}
@media screen and (min-width: 540px) {
  header .main-nav .tag,
  header .main-nav .category,
  header .main-nav .search {
    display: block;
  }
}
header .avatar {
  display: none;
}
@media screen and (min-width: 540px) {
  header .avatar {
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
    background: url("../images/avatar.jpg") no-repeat transparent;
    border: 5px solid #ffffff;
    background-size: 120px;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }
}
@media screen and (min-width: 540px) and (-webkit-device-pixel-ratio: 2) {
  header .avatar {
    background-image: url("../images/avatar@2x.jpg");
  }
}
@media screen and (min-width: 800px) {
  header .avatar {
    width: 150px;
    height: 150px;
    top: 100%;
    background-size: 150px;
    margin-left: -80px;
    margin-top: -80px;
  }
}
/* conatiner */
.container {
  margin-top: 20px;
  /* for control button */
  /* for share links */
  /* specificy for list layout */
}
@media screen and (min-width: 540px) {
  .container {
    margin-top: 25px;
  }
}
@media screen and (min-width: 800px) {
  .container {
    margin-top: 40px;
  }
}
.container h1.blog-title {
  font-size: 28px;
  font-size: 2.8rem;
  text-align: center;
  color: #8e8e8e;
  padding: 0 5px;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .container h1.blog-title {
    padding: 0 5px 20px 5px;
    background: url("../images/head-line.png") no-repeat;
    background-position: 50% 100%;
  }
}
.container article {
  margin: 20px 0 20px 0;
  background: url("../images/dash-line.png") repeat-x;
  background-position: 0 100%;
  /* post format */
  /* read more button */
}
@media screen and (min-width: 540px) {
  .container article {
    margin: 40px 0 40px 0;
  }
}
@media screen and (min-width: 800px) {
  .container article {
    padding-left: 120px;
  }
}
.container article .info {
  border-bottom: 1px solid #ebebeb;
  padding: 0 2px 5px 2px;
  color: #b7b7b7;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .container article .info {
    padding-left: 20px;
  }
}
.container article .info div {
  float: left;
}
.container article .info .categories,
.container article .info .tags {
  display: none;
}
.container article .info .comments {
  float: right;
}
.container article .info .big-date {
  display: none;
}
@media screen and (min-width: 800px) {
  .container article .info .big-date {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 6px solid #ebebeb;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    margin-left: -112px;
    top: 0;
    margin-top: -30px;
    text-align: center;
    overflow: hidden;
  }
  .container article .info .big-date span {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 100px;
    font-weight: bold;
  }
  .container article .info .big-date span.month {
    margin-left: 5px;
  }
}
@media screen and (min-width: 540px) {
  .container article .info {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .container article .info .categories,
  .container article .info .tags {
    display: block;
  }
  .container article .info .time-stamp {
    float: right;
    color: #8e8e8e;
    padding-left: 0;
    border-left: 0;
    margin-right: 0;
  }
  .container article .info .comments {
    float: left;
  }
  .container article .info div {
    margin-right: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #ebebeb;
    padding-left: 10px;
    color: #4ab3a5;
  }
  .container article .info div:first-child {
    padding-left: 0;
    border-left: 0;
  }
  .container article .info div ul,
  .container article .info div li {
    display: inline-block;
  }
}
.container article .content {
  /* mixins */
  /* heading */
  /* paragraph */
  /* image */
  /* table */
  /* block quote */
  /* unordered list */
  /* ordered list */
  /* horizontal line */
  /* inline elements */
  /* code block */
}
@media screen and (min-width: 800px) {
  .container article .content {
    margin-left: 20px;
  }
}
.container article .content h1,
.container article .content h2,
.container article .content h3,
.container article .content h4,
.container article .content h5,
.container article .content h6 {
  text-align: left;
  color: #757575;
  margin: 0.5em 0;
}
.container article .content h1 a,
.container article .content h2 a,
.container article .content h3 a,
.container article .content h4 a,
.container article .content h5 a,
.container article .content h6 a {
  color: #272727;
}
.container article .content h1 a:hover,
.container article .content h2 a:hover,
.container article .content h3 a:hover,
.container article .content h4 a:hover,
.container article .content h5 a:hover,
.container article .content h6 a:hover {
  color: #4ab3a5;
}
.container article .content h1.post-title {
  color: #272727;
  font-weight: bold;
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 32px;
}
@media screen and (min-width: 540px) {
  .container article .content h1.post-title {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 40.8px;
  }
}
.container article .content h1 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 26px;
}
@media screen and (min-width: 540px) {
  .container article .content h1 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 33px;
  }
}
.container article .content h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 22px;
}
@media screen and (min-width: 540px) {
  .container article .content h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 28.6px;
  }
}
.container article .content h3 {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 19px;
}
@media screen and (min-width: 540px) {
  .container article .content h3 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 24.2px;
  }
}
.container article .content h4 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
}
@media screen and (min-width: 540px) {
  .container article .content h4 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 19.8px;
  }
}
.container article .content h5 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 12px;
}
@media screen and (min-width: 540px) {
  .container article .content h5 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 15.4px;
  }
}
.container article .content h6 {
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
}
@media screen and (min-width: 540px) {
  .container article .content h6 {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 13.2px;
  }
}
.container article .content p {
  color: #757575;
  word-wrap: break-word;
  word-break: break-all;
  text-align: justify;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 19px;
}
@media screen and (min-width: 540px) {
  .container article .content p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
  }
}
.container article .content p img {
  max-width: 100%;
  height: auto;
  border: 1px solid #b7b7b7;
  padding: 1px;
  box-sizing: border-box;
}
.container article .content table {
  margin-bottom: 15px;
}
.container article .content table td,
.container article .content table th {
  border: 1px solid #757575;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 17px;
  padding: 0.4em 0.2em;
  color: #757575;
}
@media screen and (min-width: 540px) {
  .container article .content table td,
  .container article .content table th {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22.4px;
  }
}
.container article .content blockquote {
  padding-left: 1em;
  border-left: 5px solid #b7b7b7;
  font-style: italic;
}
.container article .content blockquote p {
  margin-left: 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
}
@media screen and (min-width: 540px) {
  .container article .content blockquote p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25.2px;
  }
}
.container article .content ul,
.container article .content ol {
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 19px;
  color: #757575;
  list-style-type: disc;
  list-style-position: inside;
}
@media screen and (min-width: 540px) {
  .container article .content ul,
  .container article .content ol {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
  }
}
.container article .content ul li p,
.container article .content ol li p {
  margin-left: 0;
}
.container article .content ul li img,
.container article .content ol li img {
  display: block;
}
.container article .content ol {
  list-style-type: decimal;
}
.container article .content hr {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  margin: 0 0 15px 0;
}
.container article .content p {
  /* links */
  /* em */
  /* strong */
  /* code */
}
.container article .content p a {
  color: #4ab3a5;
  border-bottom: 1px dashed #b7b7b7;
  margin: 0 0.1em;
}
.container article .content p a:hover {
  color: #3b8f84;
}
.container article .content p em {
  font-style: italic;
}
.container article .content p strong {
  font-weight: bold;
}
.container article .content p code {
  border: 1px solid #b7b7b7;
  margin: 0 0.1em;
  padding: 0.05em 0.3em;
  font-size: 85%;
  color: #d14;
  background: #f7f7f7;
  word-break: normal;
}
.container article .content pre {
  background: #f7f7f7;
  border: 1px solid #b7b7b7;
  max-height: 30em;
  margin: 0 0 15px 0;
  overflow: auto;
}
.container article .content pre code {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 19px;
}
@media screen and (min-width: 540px) {
  .container article .content pre code {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
  }
}
.container article .more,
.container .share {
  float: left;
  margin: 10px 0;
  font-size: 12px;
  font-size: 1.2rem;
}
@media screen and (min-width: 540px) {
  .container article .more,
  .container .share {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 20px 0 40px 0;
  }
  .container article .more a,
  .container .share a {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3px;
    color: #4ab3a5;
  }
  .container article .more a:hover,
  .container .share a:hover {
    border-color: #4ab3a5;
  }
}
.container .control {
  margin-top: 15px;
  padding: 0;
  text-align: center;
  position: relative;
  height: 40px;
}
.container .control a {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #4ab3a5;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 6px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.container .control a:hover {
  background: #43a194;
}
@media screen and (min-width: 540px) {
  .container .control a {
    font-size: 16px;
    font-size: 1.6rem;
    height: 50px;
    line-height: 50px;
    width: 100px;
  }
}
.container .control .disabled a {
  background: #8e8e8e;
  cursor: not-allowed;
}
.container .control .disabled a:hover {
  background: #818181;
}
.container .control .previous {
  position: absolute;
  left: 0;
  top: 0;
}
.container .control .next {
  position: absolute;
  top: 0;
  right: 0;
}
.container .control .page {
  display: inline-block;
  top: 0;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #4ab3a5;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .container .control .page {
    font-size: 18px;
    font-size: 1.8rem;
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (min-width: 540px) {
  .container .control {
    margin-top: 30px;
    height: 50px;
  }
}
.container .share {
  color: #8e8e8e;
}
@media screen and (min-width: 800px) {
  .container .share {
    margin-left: 10px;
  }
}
.container .share a {
  margin-left: 5px;
}
.container #disqus_thread {
  margin-top: 20px;
}
.container.list article {
  background: none;
  padding-left: 0;
  background: url("../images/dash-line.png") repeat-x;
  background-position: 0 100%;
  margin-bottom: 0;
}
.container.list article .content h1 {
  color: #b7b7b7;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  font-size: 24px;
  font-size: 2.4rem;
}
@media screen and (min-width: 540px) {
  .container.list article .content h1 {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 540px) {
  .container.list article .content .time-stamp {
    font-size: 20px;
    font-size: 2rem;
  }
}
.container.list article .content ul {
  list-style: none;
}
@media screen and (min-width: 540px) {
  .container.list article .content ul li {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 800px) {
  .container.list article .content ul li {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .container.list article .content ul li:nth-child(odd) {
    padding-right: 1%;
    clear: left;
  }
  .container.list article .content ul li:nth-child(even) {
    clear: right;
    padding-left: 1%;
  }
}
/* footer */
footer {
  text-align: center;
  color: #b7b7b7;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px 10px;
}
footer a {
  color: #4ab3a5;
}
footer a:hover {
  color: #3b8f84;
}
@media screen and (min-width: 540px) {
  footer {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
